@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500');

body {
  margin: 0;
}
html,
h1,
h2,
h3,
h4 {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  font-weight: 400;
  color: #4f4f4f;
}

p {
  font-size: 1.4rem;
}
